// font-family: 'Libre Baskerville', serif;
// font-family: 'Nova Mono', monospace;
// font-family: 'Source Sans Pro', sans-serif;

* {
    margin: 0;
    box-sizing: border-box;
    
    &:focus {
        outline: none;
    }
}

body {
    background-color: #293241;
}

.products-page,
.reviews-page,
.staff-page {
    .header {
        position: relative;
        background-color: #1D2331;

        display: grid;
        grid-template-columns: 350px 1% auto;
        align-items: center;

        h1 {
            font-family: 'Libre Baskerville', serif;
            color: #E0FBFC;
            font-size: 3.5em;
            font-weight: 700;
            text-align : center;
            max-width: 700px;
            margin-bottom: 10px;
        }

        .line {
            height: 60%;
            width: 3px;
            border-radius: 50px;
            background-color: #FEE3AE;
        }

        p.desktop, p.mobile, p {
            padding: 50px;
            color: #BFB6B6;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.1em;
        }

        p.mobile {
            display: none;
        }

        p.note {
            position: absolute;
            bottom: 2%;
            right: 1%;

            font-family: 'Source Sans Pro', sans-serif;
            font-size: 0.8em;
            color: #8b8b8b;
            padding: 0;

        }
    }
}

.home-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% auto 40%;  


    .logo {
        display: flex;
        justify-content: center;
        
        .line {
            background-color: #FEE3AE;
            height: 3px;
            width: 15%;
            margin: auto 40px;
            max-width: 180px;
        }

        .text {
            font-weight: 700; 
            align-self: center;
            color: #FEE3AE;
            font-family: 'Fira Code', monospace;
            text-transform: uppercase;
            font-size: 1.1em;
            letter-spacing: 6px;
        }
    }

    .main-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;

        h1 {
            font-family: 'Libre Baskerville', serif;
            color: #E0FBFC;
            font-size: 3.5em;
            font-weight: 700;
            text-align : center;
            max-width: 700px;
            line-height: 60px;
        }
    }

    .app-info {
        display: grid;
        grid-template-columns: 56% 44%;
        align-items: center;

        .desc-container {
            box-shadow: 0 4px 3px rgba(32, 32, 32, 0.15);
            border-radius: 4px;
            background-color: #232B3C;
            max-height: 160px;
            max-width: 400px;
            height: 70%;
            width: 90%;
            justify-self: end;
            margin-right: 10px;

            display: grid;
            grid-template-areas: 
                "desc-container-title desc-container-line"
                "desc-container-text desc-container-text";
            grid-template-columns: 140px auto;
            grid-template-rows: 35% 65%;
            

            .app-name {
                grid-area: desc-container-title;
                margin: auto auto auto 15px;
                
                h2 {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 700;
                    color: white;
                }
            }

            .line {
                grid-area: desc-container-line;
                background-color: #FEE3AE;
                height: 3px;
                width: 60%;
                border-radius: 50px;
                align-self: center;
                margin-top: 5px;
            }

            .desc-text {
                grid-area: desc-container-text;
                margin: 0 auto auto 15px;
                max-width: 70%;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 1em;
                color: #BFB6B6;
            }
        }

        .down-container {
            box-shadow: 0 4px 3px rgba(32, 32, 32, 0.15);
            border-radius: 4px;
            background-color: #232B3C;
            max-height: 160px;
            max-width: 270px;
            height: 70%;
            width: 90%;
            justify-self: start;

            display: grid;
            grid-gap: 10px;
            justify-content: center;
            grid-template-areas:
                "ios"
                "android";

            .down-btn {
                text-decoration: none;
                color: black;
                text-align: left;
                border: none;
                background-color: #E0FBFC;
                border-radius: 6px;
                padding: 2px 10px 2px 12px;
                height: 60px;
                transition: background-color 0.15s ease;
                cursor: pointer;

                display: flex;
                align-items: center;

                &:focus {
                    background-color: #b3dff3;
                }

                .text {
                    font-family: 'Source Sans Pro', sans-serif;
                    padding-left: 10px;

                    h3 {
                        font-weight: 300;
                        text-transform: uppercase;
                        line-height: 10px;
                        font-size: 0.9em;
                        padding-top: 3px;
                        
                    }
                    h2 {
                      font-weight: 400; 
                      font-size: 1.1em; 
                    }
                }

                .icon {
                    height: 40px;

                    svg {
                        height: 100%;
                    }
                }
            }

            .ios {
                grid-area: ios;
                align-self: end;
            }

            .android {
                grid-area: android;
                align-self: start;
            }
        }
    }
}

.info-page {
    margin: 70px 0 40px 0;
    display: grid;
    grid-template-areas: 
        "info-page-mission info-page-essence"
        "info-page-target info-page-target";
    justify-content: center;
    height: 100%;
    grid-gap: 40px;

    .info-item {
        text-align: center;
        display: flex;
        flex-direction: column;

        h1 {
            font-family: 'Libre Baskerville', serif;
            color: #E0FBFC;
            font-size: 2em;
            font-weight: 700;
        }

        hr {
            border: solid 2px #FEE3AE;
            border-radius: 50px;
            width: 100px;
            margin: 0 auto;
            margin-top: 4px;
        }

        p {
            color: #BFB6B6;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.2em;
            padding-top: 18px;
            line-height: 24px;
            margin: 0 20%;
        }
    }

    .mission {
        grid-area: info-page-mission;
    }

    .essence {
        grid-area: info-page-essence;
    }

    .target {
        margin-top: 50px;
        grid-area: info-page-target;

        p {
            margin: 0 30%;
        }
    }
}

.products-page {
    margin: 80px 0 100px 0;

    .product-cards {
        margin: 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        .product {
            box-shadow: 0 4px 3px rgba(32, 32, 32, 0.15);
            background-color: #232B3C;
            width: 70%;
            margin: 0 auto;
            border-radius: 4px;
            height: 220px;

            display: flex;
            gap: 30px;

            img {
                height: 100%;
                border-radius: 4px 0 0 4px;
            }

            .info {
                display: grid;
                grid-template-rows: 35% auto 40%;
                align-items: center;

                h1 {
                    color: white;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.9em;
                }

                p {
                    align-self: start;
                    color: #BFB6B6;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.2em;
                    padding-right: 10%;
                }

                h2 {
                    color: #FEE3AE;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.6em; 
                    align-self: start;
                    margin-top: 20px;
                }
            }
        }
    }
}

.reviews-page {
    .review-container {
        display: grid;
        grid-template-columns: 350px auto;
        height: 500px;

        .comment-main {
            justify-self: center;
            align-self: center;
            margin-bottom: 20px;
            width: 90%;

            h1 {
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.7em;
                text-align: center;
                font-weight: 600;
            }

            h2 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 1.3em;
                text-align: right;
                font-style: italic;
                font-weight: 400;
                color: #BFB6B6;
            }
        }
    }
}

.staff-page {
    margin-bottom: 150px;

    .staff-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 150px 50px 100px 50px;

        .staff-card {
            box-shadow: 0 4px 3px rgba(32, 32, 32, 0.15);
            position: relative;
            background-color: #232B3C;
            border-radius: 8px;
            margin: 0 40px;
            width: 250px;
            height: 165px;

            .image-container {
                position: absolute;
                display: flex;
                height: 150px;
                left: 0;
                top: -90px;
                justify-content: center;
                width: 100%;


                img {
                    height: 100%;
                }
            }

            .staff-info {
                margin-top: 65px;
                // margin-bottom: 40px;
                text-align: center;
                font-family: 'Source Sans Pro', sans-serif;

                h1 {
                    font-weight: 600;
                    font-size: 1.4em;
                    color: white;
                }

                h3 {
                    font-size: 700;
                    font-size: 2em;
                    line-height: 20px;
                    color: #FEE3AE;
                }

                h2 {
                    font-weight: 400;
                    font-size: 1em;
                    color: #BFB6B6;
                    line-height: 25px;
                }
            }
        }
    }
}

.location-contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

    .locations {
        border-radius: 0 1px 1px 0;
        background-color: #1D2331;

        .header {
            margin: 0 70px 0 50px;
            margin-top: -26px;

            h1 {
                font-family: 'Libre Baskerville', serif;
                color: #E0FBFC;
                font-size: 2.5em;
                font-weight: 700; 
            }
        }

        .map-container {
            margin: 20px 70px 0 50px;

            .map {
                display: flex;
                flex-direction: row;
                margin-bottom: 40px;
                column-gap: 20px;

                .map-image {
                    img {
                        height: 210px;
                        width: 210px;
                        object-fit: cover;
                        border: 2px solid #FEE3AE;
                        border-radius: 4px;
                    }
                }

                .map-info {
                    align-self: center;

                    h1, h2 {
                        color: white;
                        font-family: 'Source Sans Pro', sans-serif;
                    }

                    h1 {
                        font-weight: 600;
                        font-size: 1.4em;
                    }

                    h2 {
                        font-weight: 400;
                        font-size: 1.3em;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .contact {
        border-radius: 1px 0 0 1px;
        background-color: #1D2331;

        .header {
            margin: -26px 70px 0 50px;

            h1 {
                font-family: 'Libre Baskerville', serif;
                color: #E0FBFC;
                font-size: 2.5em;
                font-weight: 700; 
            }

            p {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400; 
                color: white;
                font-size: 1.1em;
                margin-top: 10px;
            }
        }

        .input {
            margin: 40px 70px 0 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 30px;

            input, textarea {
                background-color: transparent;
                border: solid 2px #FEE3AE;
                border-radius: 4px;
                font-size: 1.05em;
                color: white;
                padding: 12px 10px;
                width: 100%;
                font-family: 'Source Sans Pro', sans-serif;
                
                &:focus {
                    border-color: #fcc258;
                }

                &::placeholder {
                    opacity: 80%;
                }
            }

            .first-name {
                width: 46%;
            }

            .last-name {
                width: 46%;
                margin-left: auto;
            }

            .more-info, .message {
                height: 150px;
            }

            button {
                cursor: pointer;
                border: none;
                border-radius: 4px;
                font-size: 1em;
                color: black;
                padding: 11px 10px;
                width: 110px;
                background-color: #FEE3AE;
                font-family: 'Source Sans Pro', sans-serif;

                &:hover, &:focus {
                    background-color: #fcc258;
                }
            }
        }
    }
}

.footer {
    margin-top: 50px;
    background-color: #1D2331; 
    
    display: grid;
    grid-template-columns: 45% auto 45%;

    .main {
        margin: 25px 0 40px 40px;

        .top {
            h1 {
                font-weight: 700; 
                align-self: center;
                color: #FEE3AE;
                font-family: 'Fira Code', monospace;
                font-size: 1.9em;
                letter-spacing: 6px;
            }

            h2 {
                color: #BFB6B6;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 1.1em;
            }
        }

        .bottom {
            margin-top: 30px;

            .first {
                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    color: white;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 400;
                    font-size: 1.1em;  

                    &:focus {
                        color: #BFB6B6;
                    }
                }

                h2 {
                    color: white;
                    font-size: 1.8em;
                    padding: 0 20px;
                }
            }

            h3 {
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                font-size: 1.1em; 
                
                a {
                    color: white;

                    &:focus {
                        color: #BFB6B6;
                    }
                }
            }
        }
    }

    .line {
        width: 4px;
        justify-self: center;
        align-self: center;
        border-radius: 50px;

        background-color: #FEE3AE;
        height: 60%;
    }

    .email {
        margin-left: 13%;
        align-self: center;

        h3 {
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            font-size: 1em; 
            padding-bottom: 5px;
        }

        input {
            background-color: transparent;
            border: solid 2px #E0FBFC;
            border-radius: 4px;
            padding: 10px 10px;
            width: 50%;

            color: white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            font-size: 1em; 

            &:focus {
                border-color: #79c1e2;
            }
        }

        button {
            background-color: #E0FBFC;
            border: none;
            border-radius: 4px;
            height: 45px;
            width: 80px;
            margin-left: 10px;

            color: black;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            font-size: 1em; 
            cursor: pointer;
            transition: background-color 0.15s ease;

            &:hover, &:focus {
                background-color: #79c1e2;
            }
        }
    }
}


@media (max-width: 1200px) {
    .products-page .product-cards .product {
        width: 90%;

        .info {
            grid-template-rows: 30% auto 40%;
        }
    }

    .reviews-page .review-container {
        grid-template-columns: none;
        grid-template-rows: 30% 60%;
        height: 700px;

        .comment-main {
            margin-bottom: 0;
            width: initial;
        }

        .comment-cards {
            margin: 0 20px;
            gap: 0 30px;

        }
    }

    .location-contact-page {
        .locations {
            .header {
                margin: -26px 40px 0 30px;
            }

            .map-container {
                margin: 20px 10px 0 30px;
            }
        }



        .contact {
            .header {
                margin: -26px 40px 0 30px;
            }

            .input {
                margin: 30px 40px 0 30px;
            }
        }
    }

    .footer {
        .email {
            margin-left: initial;

            input {
                width: 60%;
            }
        }
    }

}

@media (max-width: 920px) {
    .location-contact-page {
        column-gap: 20px;

        .locations {
            .map-container {
                .map {
                    .map-image img {
                        height: 180px;
                        width: 180px;
                    }

                    .map-info {
                        h1 {
                            font-size: 1.2em;
                        }

                        h2 {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }

        .contact .input {
            row-gap: 25px;
            margin-bottom: 20px;

            .first-name, .last-name {
                width: 48%;
            }
        }
    }
}

@media(min-width: 800px) {
    .comment-cards {
        input, .slidesNavigation {
            display: none;
        }
    }

    .comment-cards {
        display: grid;
        grid-template-areas: 
            "comment-card-first comment-card-second"
            "comment-card-third comment-card-forth";
        gap: 30px 30px;

        justify-content: center;
        align-items: center;
        margin: 50px 5%;

        .comment {
            box-shadow: 0 4px 3px rgba(32, 32, 32, 0.15);
            border-radius: 4px;
            background-color: #232B3C;
            height: 180px;
 
            display: grid;
            grid-template-columns: 160px auto;

            .left {
                margin-top: 12px;
                margin-left: 12px;

               img {
                   width: 105px;
                   height: 110px;
                   object-fit: cover;
                   border-radius: 8px;
               } 

               h1 {
                   font-size: 1.4em;
                   font-family: 'Source Sans Pro', sans-serif;
                   color: white;
                   line-height: 25px;
                   font-size: 600;
                   margin-left: 2px;
               }

               h2 {
                   font-size: 0.9em;
                   font-family: 'Source Sans Pro', sans-serif;
                   color: #BFB6B6;
                   font-weight: 600;
                   margin-left: 2px;
               }
            }

            .right {
                margin: 20px 10px 20px 0;
                display: grid;
                grid-template-rows: 20% auto 20%;
                justify-items: center;
                align-items: center;


                svg {
                    height: 22px;

                    &:last-child {
                        transform: rotate(180deg);
                    }
                }

                h1 {
                    font-size: 1.8em;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #E0FBFC;
                    font-weight: 400;
                    text-align: center;
                    line-height: 95%;
                }
            }
        }
    }

    .comment-circles {
        display: none;
    }
}

@media(max-width: 799px) {
    .products-page,
    .reviews-page,
    .staff-page {
        .header {
            grid-template-columns: 280px 1% auto;
    
            h1 {
                font-size: 3em;
            }
    
            p.desktop, p.mobile, p {
                padding: 50px 30px;
            }
        }
    }

    .home-page .main-text h1 {
        font-size: 3em;
    }

    .products-page {
        .header {
            p.desktop {
                display: none;
            }

            p.mobile {
                display: initial;
            }
        }

        .product-cards {
            .product {
                gap: 15px;
                height: 190px;

                img {
                    width: 35%;
                    object-fit: cover;
                }

                .info {
                    h1 {
                        font-size: 1.7em;
                    }

                    p {
                        font-size: 1em;
                        padding-right: 5%;
                    }

                    h2 {
                        align-self: start;
                        font-size: 1.5em;
                        margin-top: 0;
                        padding-top: 5px;
                    }
                }
            }
        }
    }

    .reviews-page .review-container {
        height: 500px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .comment-main {
            margin: 50px 0;
        }

        .comment-cards {
            animation: move-cards 35s infinite ease;
            margin: 0;
            margin-top: 40px;
            width: 400%;
            justify-content: space-evenly;
            display: flex;
            padding: 0 10% 0 10%;
            column-gap: 5%;

            .comment {
                box-shadow: 0 4px 3px #20202026;
                border-radius: 4px;
                background-color: #232B3C;
                height: 180px;
     
                display: grid;
                grid-template-columns: 160px auto;
    
                .left {
                    margin-top: 12px;
                    margin-left: 12px;
    
                   img {
                       width: 105px;
                       height: 110px;
                       object-fit: cover;
                       border-radius: 8px;
                   } 
    
                   h1 {
                       font-size: 1.4em;
                       font-family: 'Source Sans Pro', sans-serif;
                       color: white;
                       line-height: 25px;
                       font-size: 600;
                       margin-left: 2px;
                   }
    
                   h2 {
                       font-size: 0.9em;
                       font-family: 'Source Sans Pro', sans-serif;
                       color: #BFB6B6;
                       font-weight: 600;
                       margin-left: 2px;
                   }
                }
    
                .right {
                    margin: 20px 10px 20px 0;
                    display: grid;
                    grid-template-rows: 20% auto 20%;
                    justify-items: center;
                    align-items: center;
    
    
                    svg {
                        height: 22px;
    
                        &:last-child {
                            transform: rotate(180deg);
                        }
                    }
    
                    h1 {
                        font-size: 1.8em;
                        font-family: 'Source Sans Pro', sans-serif;
                        color: #E0FBFC;
                        font-weight: 400;
                        text-align: center;
                        line-height: 95%;
                    }
                }
            }
        }

        .comment-circles {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            
            div {
                height: 17px;
                width: 17px;
                background-color: #232B3C;
                border-radius: 50px;
                display: block;
                margin: 0 10px;
            }

            .first {
                animation: circle-first 35s ease infinite;
            }

            .second {
                animation: circle-second 35s ease infinite;
            }

            .third {
                animation: circle-third 35s ease infinite;
            }

            .forth {
                animation: circle-forth 35s ease infinite;
            }
        }
    }

    .staff-page .staff-container {
        margin: 150px 20px 100px 20px;

        .staff-card {
            height: 135px;
            margin: 0 20px;
    
            .image-container {
                height: 130px;
            }
    
            .staff-info {
                margin-top: 45px;
            }
        }
    }

    .location-contact-page {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        column-gap: none;
        row-gap: 100px;

        .locations {
            margin: 0 6%;

            .header {
                text-align: center;
                margin: -34px 40px 0 40px;

                h1 {
                    font-size: 3em;
                }
            }

            .map-container {
                .map {
                    flex-direction: column;
                    row-gap: 20px;
                    margin-bottom: 50px;

                    .map-image {
                        display: flex;
                        justify-content: center;
                        margin: 0 auto;
                    }

                    .map-info {
                        text-align: center;

                        h2 {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .contact {
            margin: 0 6%;

            .header {
                text-align: center;
                margin: -34px 9% 0 9%;

                h1 {
                    font-size: 3em;
                }
            }

            .input {
                margin: 30px 9% 30px 9%;
            }
        }
    }

    .info-page {
        .info-item {
            p {
                margin: 0 10%;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        .line {
            height: 5px;
            width: 35%;
            align-self: inherit;
            margin-left: 40px;
        }

        .email {
            align-self: inherit;
            margin: 25px 0 40px 40px;
            
            input {
                max-width: 300px;
            }
        }
    }
}
  
@media(max-width: 550px) {
    .products-page,
    .reviews-page,
    .staff-page {
        .header {
            position: relative;
            background-color: #1D2331;
    
            display: grid;
            grid-template-areas:
                "header-line header-title"
                "header-line header-desc";
            align-items: center;
            grid-template-columns: 12% auto;
            grid-template-rows: 90px 65px;
            row-gap: 0;
            
            h1 {
                grid-area: header-title;
                justify-self: start;
                align-self: end;
                font-size: 3.5em;
                margin-bottom: 0;
                line-height: 50px;
            }
    
            .line {
                grid-area: header-line;
                height: 60%;
                width: 4px;
                justify-self: center;
            }
    
            p.desktop, p.mobile, p {
                align-self: start;
                grid-area: header-desc;
                padding-left: 2px;
                padding: 0;
            }
        
            p.note {
                bottom: 1px;
                right: 1%;  
                font-size: 0.7em;
                font-style: italic;
            }
        }
    }

    .home-page {
        height: initial;
        grid-template-rows: 80px 300px 300px;

        .logo {
            .line {
                margin: auto 20px;
                width: 25%;
            }
        }

        .main-text {
            padding: 0 5px;
            align-self: start;

            h1 {
                font-size: 2.4em;
                margin-top: 40px;
            }
        }

        .app-info {
            grid-template-columns: initial;
            grid-template-rows: 1fr 1fr;

            .desc-container {
                justify-self: center;
                align-self: end;
                margin: 0;
                height: 100%;
                max-width: initial;
                padding: 10px 0 20px 0;

                grid-template-rows: 40% 60%;
            }

            .down-container {
                height: 100%;
                align-self: start;
                justify-self: center;
                max-width: initial;
                justify-content: center;
                align-content: center;
                margin: 20px 0;
    
                .down-btn {
                    padding: 30px 10px 30px 10px;
                    height: 50px;

                    .text {
                        padding-left: 5px;

                        h3 {
                            font-size: 0.9em;
                        }

                        h2 {
                            font-size: 1.1em;
                        }
                    }

                    .icon {
                        height: 35px;
                    }
                }
            }
        }
    }

    .info-page {
        grid-template-areas:
            "info-page-mission"
            "info-page-essence"
            "info-page-target";
        gap: 70px;

        .target {
            margin-top: 0;
        }
    }

    .products-page .product-cards .product {
        display: flex;
        flex-direction: column;
        height: initial;
        width: 75%;

        img {
            border-radius: 4px;
            width: 85%;
            margin: 7% auto 0 auto;
        }

        .info {
            text-align: center;
            display: flex;
            flex-direction: column;

            p {
                padding: 10px 10% 0 10%;
            }

            h2 {
                padding: 20px 0;
                align-self: center;
            }
        }
    }

    .reviews-page .review-container {
        .comment-main {
            margin: 50px 30px;
        }

        .comment-cards {
            column-gap: 2%;
            padding: 0 5% 0 5%;
            margin-top: 30px;

            .comment {
                grid-template-columns: 140px auto;
                height: 160px;
    
                .left {
                    margin-left: 13px;

                    img {
                        height: 90px;
                        width: 88px;
                    }
                }
    
                .right {
                    grid-template-rows: 25% auto 30%;
                    margin: 0;

                    h1 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    .staff-page .staff-container {
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 50px;
        row-gap: 120px;

        .staff-card {
            margin-bottom: 0;
            width: 65%;
            height: 155px;

            .image-container {
                top: -70px;
            }

            .staff-info {
                margin-top: 65px;
            }

        }
    }

    .location-contact-page {
        .locations {
            .header {
                margin-top: -31px;

                h1 {
                    font-size: 2.8em;
                }
            }

            .map-container {
                margin-top: 50px;
            }
        }
        
        

        .contact {
            .header {
                margin: -31px 0 0 0;

                h1 {
                    font-size: 2.8em;
                }

                p {
                    margin: 25px 10px 0 10px;
                }
            }
    
            .input {
                font-size: 0.9em;
                margin: 50px 6% 30px 6%;
    
                .last-name, .first-name {
                    width: 100%;
                }
            }
        }
    }

    .footer {
        .main {
            margin-left: 6%;
            margin-bottom: 50px;

            .top {
                h1 {
                    font-size: 1.3em;
                }

                h2 {
                    font-size: 1em;
                }
            }

            .bottom {
                margin-top: 40px;

                .first a {
                    font-size: 1em;
                }

                h3 {
                    font-size: 1em;
                }
            }
        }

        .line {
            margin-left: 6%;
            height: 3px;
        }

        .email {
            margin-top: 40px;
            margin-left: 6%;

            button {
                font-size: 0.95em;
            }
        }
    }
}





@keyframes move-cards {
    0% {
        transform: translateX(-2%)
    }
    5.55% {
        transform: translateX(-28%)
    }
    16.66% {
        transform: translateX(-28%)
    }
    22.21% {
        transform: translateX(-51%)
    }
    33.32% {
        transform: translateX(-51%)
    }
    38.87% {
        transform: translateX(-74%)
    }
    49.98% {
        transform: translateX(-74%)
    }
    55.53% {
        transform: translateX(-51%)
    }
    66.69% {
        transform: translateX(-51%)
    }
    72.19% {
        transform: translateX(-28%)
    }
    83.30% {
        transform: translateX(-28%)
    }
    88.85% {
        transform: translateX(-1.5%)
    }
    100% {
        transform: translateX(-1.5%)
    }
}

@keyframes circle-first {
    0%, 1.55% {
        background-color: #FEE3AE;
    }
    2.55% {
        background-color: #232B3C;
    }
    5.55% {
        background-color: #232B3C;
    }
    16.66% {
        background-color: #232B3C;
    }
    22.21% {
        background-color: #232B3C;
    }
    33.32% {
        background-color: #232B3C;
    }
    38.87% {
        background-color: #232B3C;
    }
    49.98% {
        background-color: #232B3C;
    }
    55.53% {
        background-color: #232B3C;
    }
    66.69% {
        background-color: #232B3C;
    }
    72.19% {
        background-color: #232B3C;
    }
    83.30% {
        background-color: #232B3C;
    }
    86% {
        background-color: #232B3C;
    }    
    87% {
        background-color: #FEE3AE;
    }
    100% {
        background-color: #FEE3AE;
    }
}

@keyframes circle-second {
    0% {
        background-color: #232B3C;
    }
    2.55% {
        background-color: #232B3C;
    }
    3.55% {
        background-color: #FEE3AE;
    }
    18.21% {
        background-color: #FEE3AE;
    }
    19.21% {
        background-color: #232B3C;
    }
    22.21% {
        background-color: #232B3C;
    }
    33.32% {
        background-color: #232B3C;
    }
    38.87% {
        background-color: #232B3C;
    }
    49.98% {
        background-color: #232B3C;
    }
    55.53% {
        background-color: #232B3C;
    }
    66.69% {
        background-color: #232B3C;
    }
    69% {
        background-color: #232B3C;
    }
    70% {
        background-color: #FEE3AE;
    }
    85% {
        background-color: #FEE3AE;
    }
    86% {
        background-color: #232B3C;
    }
    88.85% {
        background-color: #232B3C;
    }
    100% {
        background-color: #232B3C;
    }
}

@keyframes circle-third {
    0% {
        background-color: #232B3C;
    }
    5.55% {
        background-color: #232B3C;
    }
    16.66% {
        background-color: #232B3C;
    }
    19.21% {
        background-color: #232B3C;
    }
    20.21% {
        background-color: #FEE3AE;
    }
    34.32% {
        background-color: #FEE3AE;
    }
    35.32% {
        background-color: #232B3C;
    }
    38.87% {
        background-color: #232B3C;
    }
    49.98% {
        background-color: #232B3C;
    }
    52% {
        background-color: #232B3C;
    }
    53% {
        background-color: #FEE3AE;
    }
    68% {
        background-color: #FEE3AE;
    }
    69% {
        background-color: #232B3C;
    }
    72.19% {
        background-color: #232B3C;
    }
    83.30% {
        background-color: #232B3C;
    }
    88.85% {
        background-color: #232B3C;
    }
    100% {
        background-color: #232B3C;
    }
}

@keyframes circle-forth {
    0% {
        background-color: #232B3C;
    }
    5.55% {
        background-color: #232B3C;
    }
    16.66% {
        background-color: #232B3C;
    }
    22.21% {
        background-color: #232B3C;
    }
    33.32% {
        background-color: #232B3C;
    }
    35% {
        background-color: #232B3C;
    }
    36% {
        background-color: #FEE3AE;
    }
    51% {
        background-color: #FEE3AE;
    }
    52% {
        background-color: #232B3C;
    }
    55.53% {
        background-color: #232B3C;
    }
    66.69% {
        background-color: #232B3C;
    }
    72.19% {
        background-color: #232B3C;
    }
    83.30% {
        background-color: #232B3C;
    }
    88.85% {
        background-color: #232B3C;
    }
    100% {
        background-color: #232B3C;
    }
}
